.div1{
    border: 1px solid blue;
}

#par-1{
border-style: dotted;
border-width: 2px;
border-color: tomato;
}
#par-2{
border-style: groove;
border-width: 4px 10px;
border-color: tomato;
}
#par-3{
border-style: double;
border-width: 4px 10px;
border-color: #0096A1;
}
#par-4{
border-style: double;
border-width: 4px 10px 15px;
border-color: rgba(255, 122, 150, 0.5);
}
